<HTML>
  <HEAD>
    <TITLE>
      M.Co.Templates
    </TITLE>
  <HEAD>
  <BODY BGCOLOR='#CCFADA' style='font-size: 15px'>


    <HR color='#000000'>
    <p><xmp>
<HTML>
  <HEAD>
    <TITLE>
      M.Co.Templates
    </TITLE>
  <HEAD>
  <BODY BGCOLOR=skyblue>

  </BODY>
</HTML>
    </xmp></p>


    <HR color='#000000'>
    <p><xmp>
===== Lists =====
== Marked ==
<ul>
    <li>
    <li>
    <li>
</ul>
== Numbered ==
<ol>
    <li>
    <li>
    <li>
</ol>
    </xmp></p>


    <HR color='#000000'>
    <p><xmp>
===== Table =====
<table bgcolor='#CCCCCC' bordercolor='#000000' border=2>
    <tr>
        <td>
            
        </td>
    </tr>
    <tr bgcolor='#' bordercolor='#'>
        <td bgcolor='#' bordercolor='#'>
            
        </td>
    </tr>
</table>
    </xmp></p>


    <HR color='#000000'>
    <p><xmp>
<img src="URL" alt="альтернативный текст">
    </xmp></p>


    <HR color='#000000'>
    <p><xmp>
<a href=''></a>
<a name=''></a>
<a href='' name='' target='_blank'></a>
<a href='' name='' target='_self'></a>
<a href='' name='' target='_parent'></a>
<a href='' name='' target='_top'></a>
    </xmp></p>


    <HR color='#000000'>
    <p><xmp>

    </xmp></p>
  </BODY>
</HTML>
