<HTML>
  <HEAD>
    <TITLE>
      M.Co.Templates
    </TITLE>
  <HEAD>
  <BODY BGCOLOR=skyblue style='font-size: 15px'>
    <h1><p align=center>Table</p></h1>
    <HR color='#000000'>
    <p><xmp>
===== Table =====
<table>
    <tr>
        <td>
            
        </td>
    </tr>
</table>

<table bgcolor='#CCCCCC' bordercolor='#000000' border=2>
    <tr>
        <td>
            
        </td>
    </tr>
</table>

<table bgcolor='#CCCCCC' bordercolor='#000000' border=2>
    <tr bgcolor='#' bordercolor='#'>
        <td bgcolor='#' bordercolor='#'>
            
        </td>
    </tr>
</table>
    </xmp></p>
  </BODY>
</HTML>